.og-grid {
	list-style: none;
	padding: 20px 0 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 0 -1.5px;
	vertical-align: top;
	height: auto;
	width:20%;
	padding:0px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}


.og-grid li h3 span {
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.og-grid li h3 span i {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    display: table;
    display: inline-block;
	position:relative;
	font-style:normal;
	font-size:15px;
}
.og-grid li h3 span i:before {
	content: "\f005";
	font-family: FontAwesome;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #21c2f8;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.og-grid li h3 span em {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    display: table;
    display: inline-block;
	position:relative;
	font-style:normal;
	font-size:15px;
}
.og-grid li h3 span em:before {
	content: "\f005";
	font-family: FontAwesome;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #999999;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.og-grid li p span {
font-size:14px;
color:#aaaaaa;
margin:30px 0 15px;
display:table;
}

.og-grid li p span em {
font-style:normal;
display:block;
margin-bottom:5px;
}

.og-grid li p span em b {
color:#000;
font-weight:400;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #fff;
	border-width: 25px;
	left: 50%;
	margin: -45px 0 0 -24px;
}

.og-expander {
	position: absolute;
	background: #fff;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
	min-height:510px;
}

.og-expander-inner {
	padding: 90px 30px;
	width:100%;
	max-width:1230px;
	margin:0 auto;
	height: 100%;
}


.og-close {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg {
	width: 42%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	width: 58%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
    padding: 0px 0px 0px 33px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	width: 100%;
}

.og-details h3 {
	font-weight: 400;
	font-size: 20px;
	color:#000;
	text-transform:uppercase;
	padding: 0px 0 10px;
	margin:5px 0 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #aaaaaa;
}

.og-details a {
	font-size: 16px;
	color: #000;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border:none;
	padding: 5px 25px 3px;
	display: table;
	position: relative;
	margin: 35px 0 0 ;
	background:transparent;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.og-details a:before,
.og-details a:after {
    content: "";
    position: absolute;
    right: 0px;
    top: 3px;
    transition: all 0.3s ease-in-out 0s;
    font-size: 40px;
    font-weight: 700;
    background: #21C2F8;
    width: 3px;
    height: 28px;
	transform:rotate(14deg);
	-ms-transform:rotate(14deg); /* IE 9 */
	-webkit-transform:rotate(14deg); /* Opera, Chrome, and Safari */
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.og-details a:after {
    content: "";
    left: 0px;

}

.og-details a:hover:before ,
.og-details a:hover:after {

    content: "";

	transform:rotate(-14deg);
	-ms-transform:rotate(-14deg); /* IE 9 */
	-webkit-transform:rotate(-14deg); /* Opera, Chrome, and Safari */
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}