/*

COLORS ----------------
GREEN 			#3bd6b2 / rgba(59, 214, 178, 1)
DARKGREY 		#49434d / rgba(73, 67, 77, 1)
LIGHTGREY 		#858585 / rgba(133, 133, 133, 1)

*/

/* =====================================================================
HEADER
===================================================================== */
header {
	background: none;
}

/* =====================================================================
SLIDER
===================================================================== */
.thank-you {
	background: #49434d url(../images/thank-you/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	min-height: 768px;
	position: relative;
}

.thank-you .row:first-child {
    margin-top: 250px;
}

.thank-you .container > div {
	float: none;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.thank-you .container > div h1 {
	color: #fff;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin-bottom: 60px;
}

.thank-you .container > div h2 {
    color: #fff;
}

.thank-you .container > div p {
	color: #fff;
	display: block;
	text-align: center;
	margin-bottom: 60px;
}

.thank-you .container .social-btns {
    margin: 100px auto;
}

.thank-you .container .social-btns a {
    margin: 5px 15px;
    color: #fff;
}
.thank-you .container .social-btns a:hover {
    color: #3BD6B2;
}


/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {

	.thank-you .container > div h1 span {
		display: block;
	}
    
    .thank-you .container > div .btn {
        margin-bottom: 50px;
    }
}
