
@media (max-width: 767px) and (min-width: 1px) {
    .template-index .slider-home .container .fitbox h1 {
        font-size: 34px !important;
        margin-top: 60px;

        span {
            font-size: 24px;
        }
    }
    .template-index .slider-home {
        min-height: inherit;
    }
    .smart-garment-app h1,
    .h-smart-garment h1 {
        font-size: 26px;
    }
    .smart-garment-app,
    .h-smart-garment, .h-smart-garment .container {
        background: none;
    }
    .mobile-prod-image {
        max-width: 100%;
        img {
            max-width: 100%;
            margin-top: 40px;
            border-top: 1px solid #EEE;
        }
    }
    .template-index #productbenefits.sports .container .image {
        background-position: center center;
    }
    .template-index #productbenefits .container .row>.content {
        p {
            text-align: center;
        }
        h2 {
            font-size: 26px;
            margin-right: 5px;
            &:before {
                left: -35px;
            }
        }
    }
    .feature {
        height: 165px;
    }
    #productbenefits .container .row > .content img, #productbenefits .container .row > .content {
        h4 {
            font-size: 12px;
            margin-top: 10px;
        }
        .has-icon-img {
            width: 100% !important;
            margin-bottom: 0 !important;
        }
    }
    .template-index #productbenefits .container .image {
        min-height: 440px;
    }
    #featured h2 {
        font-size: 36px;
    }
    #subscribe h2.headline {
        font-size: 20px;
        line-height: 1.3em;
        margin-bottom: 20px;
    }
    #how-customers-use {
        .owl-nav {
            display: none;
        }
        .owl-dots {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100px;
            margin: 20px 0 0 -50px;
        }
    }
    .template-about .light-button, .template-index .light-button, .template-product .light-button, .template-project .light-button, .template-signup .light-button {
        margin: 15px;
        text-align: center;
    }
    .template-index,
    .template-product,
    .template-about {
        .main-content .page-title {
            font-size: 28px;
            margin-top: 30px;
        }
        #apphighlight h1 {
            font-size: 36px;
            padding: 0;
        }
        .accent-left {
            font-size: 40px;
            text-align: center;
        }
        #howitworks {
            .howitworks-steps {
                margin-bottom: 0;
            }
            .preview .item {
                height: 500px;
            }
            h4 {
                padding-right: 0;
                text-align: left;
            }
        }
        #garment {
            background-position: center top;
            .smart-garment-features {
                height: 304px;
                position: absolute;

                .feature {
                    position: relative;
                    top: inherit;
                    left: inherit;
                    right: inherit;
                    height: 30px;
                    padding-left: 10px;
                    clear: both;
                    width: 100%;
                    span {
                        display: block;
                    }
                    .underline, .circle{
                        display: none;
                    }
                }
            }
            .line {
                display: none;
            }
        }
        #whatwemeasure {
            padding-bottom: 0;
            ul {
                text-align: left;
                li {
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 1.3em;
                }
            }
            h2 {
                font-size: 28px;
            }
            h3 {
                margin-bottom: 40px;
            }
        }
        #divider {
            background-position: center center;
        }

        #web {
            h2 {
                font-size: 36px;
            }
            .web-bg {
                background-size: 100%;
            }
            img {
                max-width: 100%;
            }
            .smart-app-image {
                margin-bottom: 40px;
            }
            .has-icon-img {
                height: 160px;
                padding-top: 30%;
                border: 1px solid rgba(0,0,0,.1);
                background-size: 60%;
                background-position: center center;
                background-repeat: no-repeat;
                margin-top: 20px;
            }
            .container .row>.content .col-xs-12 .col-img {
                p {
                    line-height: 1.3em;
                }
                .has-icon-img {
                    width: 100%;
                }
            }
            .content p {
                text-align: center;
            }
        }
    }
    .template-project, .template-signup {
        .page-title {
            margin-top: 0;
            font-size: 28px;
            span {
                display: none;
            }
        }
        .quotation-form .container > div .form,
        .slider-home .container > div .form {
            width: 100%;
        }

    }
    #partners .container .row > div a.partner-link {
        width: 70%;
    }
    #subscribe .container>div .btn {
        margin-left: 0;
    }

}
















































