// Style Select2 Dropdown with Bootstrap overrides

form {
    .select2 {
        .selection {
            text-align: left;
        }
    }
    .select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection {
        font-family: 'Proxima Nova Rg', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    }
    .select2-container--bootstrap .select2-selection--single {
        height: 50px;
        padding: 12px 24px 6px 18px;
    }
    .select2-container--bootstrap .select2-selection {
        font-size: 18px;
        font-weight: 400;
    }
    .select2-container--bootstrap .select2-selection {
        border-radius: 0;
    }
}

// Style the navbar
.navbar {
    .flag {
        height: 32px;
        vertical-align: top;
        position: relative;
    }
    #nav_menu_FR {
        position: relative;
        margin-top: -6px;
    }
}

// Style the quote form.
.quotation-form {
    .company-size {
        padding: 10px;
    }
}

#featured {
    a {
        display: block;
        position: relative;
        line-height: 132px;
    }
    img {
        max-width: 80%;
        vertical-align: middle;
        position: relative;
    }
    .feature {
        text-align: center;
    }
    h2 {
        margin-bottom: 20px;
    }
    .first-row {
        margin-bottom: 30px;
    }
}
.icon-header {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

#garment {
    .garment-app {
        margin-bottom: -80px;
    }
    h4 {
        .icon-header();
    }
}

#productspecs {
    .ipad-dashboard {
        width: 100%;
        padding-top: 90px;
    }
    h4 {
        .icon-header();
        color: #49434D;
    }
}
#productbenefits {
    // background: #39373a;
}
#partners {
    background: #39373a;
}
.readable-column {
    p {
        font-size: 16px;
    }
    h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.4em;
        margin: 30px 0;
    }
}
.main-content {
    .page-title {
        margin-top: 120px;
        // text-align: left;
        span {
            // margin-left: 0;
            // margin-right: 0;
            // width: 100%;
            // height: 2px;
        }
    }
    .page-description {
        text-align: left;
    }
}


#garment {
    h2 {
        // color: #fff;
        font-size: 26px;
        font-weight: bold;
        display: block;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        span {
            background: #fff;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30px;
            height: 5px;
            margin-top: 30px;
        }
    }
}


#seeitlive {
    background: transparent url(/images/index/video.png);
    background-size: cover;
    background-position: top center;
    height: 400px;
    position: relative;

    h1, p {
        color: #FFF;
        z-index: 101;
        position: relative;
        text-align: center;
        margin-bottom: 40px;
    }

    p {
        position: relative;
        top: 140px;
    }

    .darken {
        background: #000;
        opacity: 0.35;
        height: 400px;
        width: 100%;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
    }

    .play-button {
        background: transparent center center no-repeat url(../images/icons/icon-play.svg);
        height: 100px;
        width: 100px;
        position: absolute;
        z-index: 200;
        color: #FFF;
        display: block;
        opacity: 0.5;
        left: 50%;
        top: 50%;
        margin: -50px 0 0 -50px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.button-container {
    margin:0 auto;
    width: 100%;
    text-align: center;
    .btn {
        text-align: center;
    }
}
#productbenefits {
    .image {
        text-align: center;
    }
    border-bottom: 1px solid #eee;
}






