header {
    padding-top: 0 !important;

    @media (min-width: 768px) {
        .navbar-top .container > .navbar-header .navbar-brand { margin-top: 25px; }
        .navbar-top .container > .navbar-collapse .navbar-nav { margin-top: 25px; }
    }
}

//--------------------------------------
// Global overrides by body class
.template-index,
.template-product,
.template-about {
    .main-content {
        margin: 115px 0 100px;
        padding: 0;
    }

    p { font-size: 16px; line-height: 28px; }

    .accent-top-middle,
    .accent-left {
        position: relative;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 40px;

        &:before {
            position: absolute;
            content: '';
        }
    }

    .accent-top-middle {
        text-align: center;
        &:before {
            border-top: 5px solid #36bf9f;
            width: 40px;
            top: -32px;
            left:  ~"calc(50% - 20px)";
        }
    }

    .accent-left{
        margin-bottom: 20px;
        &:before {
            border-left: 5px solid #36bf9f;
            top: 6px;
            left: -40px;
            height: 85%;
        }
    }

}



//--------------------------------------
// New Button Styles
.btn-default-outline {
    border: 2px solid #36bf9f;
    background: transparent;
    color: #fff;

    &:hover, &:active, &:focus {
        background: #36bf9f;
        color: #fff;
    }
}

.scroll-container {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-left: -100px;
}

.scroll-page {
    color: rgba(255, 255, 255, 0.85);
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 15px;
    position: relative;
    text-decoration: none;

    &:before {
        position: absolute;
        content: '';
        background: url(../images/svg/btn-arrow.svg) no-repeat center center;
        background-size: 100%;
        width: 28px;
        height: 28px;
        display: block;
        opacity: .75;
        border-radius: 50%;
        top: 30px;
        left:  ~"calc(50% - 14px)";
        //border: 2px solid rgba(255,255,255,.5);
    }

    &:hover {
        text-decoration: none;
        border-color: rgba(255,255,255,.75);
        color: rgba(255, 255, 255, 1);
        border-color: rgba(51, 191, 159, 0.75);

        &:before {
            //border-color: rgba(255,255,255,.75);
            opacity: 1;
        }
    }

    &:active, &:visited {
        text-decoration: none;
        color: rgba(255, 255, 255, 1);
    }
}


//--------------------------------------
// Style Select2 Dropdown with Bootstrap overrides
form {
    .select2 {
        .selection {
            text-align: left;
        }
    }
    .select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection {
        font-family: 'Proxima Nova Rg', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    }
    .select2-container--bootstrap .select2-selection--single {
        height: 50px;
        padding: 12px 24px 6px 18px;
    }
    .select2-container--bootstrap .select2-selection {
        font-size: 18px;
        font-weight: 400;
    }
    .select2-container--bootstrap .select2-selection {
        border-radius: 0;
    }
}

//--------------------------------------
// Style the navbar
.template-index,
.template-product,
.template-about,
.template-signup,
.template-quote {
    .navbar-nav li a {
        margin-top: 3px;
    }

    .navbar {
        .btn { padding: 7px 15px; }
        .flag {
            height: 32px;
            vertical-align: top;
            position: relative;
        }
        #nav_menu_signup {
            margin-top: 0;
        }
        #nav_menu_FR {
            margin-top: 0;
        }
        #nav_menu_quote {
            margin-top: 0;
            background-color: #36bf9f !important;
            padding: 7px 15px;
            border: 1px solid #36bf9f !important;
            &:hover, &:active, &:focus {
                color: #49434d;
                //border: none !important;
            }
        }
    }

    .light-button {
        margin: 0 0 0 5px;
        a {
            border: 1px solid rgba(230,231,235,.2);
            padding: 7px 12px;
            color: #cdced1;

            &:hover, &:active, &:focus {
                color: #fff;
                border-color: rgba(230,231,235,.5);
                border-bottom: 1px solid rgba(230,231,235,.5) !important;
            }
        }
    }
}

//----------------------------------------------------------------------------
//----------------------------------------------------------------------------
// Index Styles

//--------------------------------------
// Style home slider / hero
.template-index {
    .slider-home {
        background-image: url(../images/index/bg_home_2.jpg);
        background-color: #46474d;
        height: 100%;
        min-height: 1000px;

        .container > .fitbox {
            padding-top: 45%;
        }

        .btn-default-outline {
            border-width: 3px;
            line-height: 74px;
            font-size: 20px;
            padding: 0 30px;
            text-transform: uppercase;
        }
    }

    .slider-home .container .fitbox h1 {
        font-size: 64px !important;
        line-height: 1;

        span {
            display: block;
            margin: 30px 0 50px;
            font-size: 32px;
            font-weight: 400;
            color: #fff;
            text-transform: none;
        }
    }
}


.icon-header {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

#garment {
    .garment-app {
        margin-bottom: -80px;
    }
    h4 {
        .icon-header();
    }
}

#productspecs {
    .ipad-dashboard {
        width: 100%;
        padding-top: 90px;
    }
    h4 {
        .icon-header();
        color: #49434D;
    }
}


//--------------------------------------
// Index Partners
#partners {
    background: #39373a;
    padding-top: 100px !important;

    .container .row > div h2.accent-top-middle {
        font-size: 32px;
        font-weight: 600;
    }
}

.readable-column {
    p {
        font-size: 16px;
    }
    h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1.4em;
        margin: 30px 0;
    }
}


//--------------------------------------
// Video Section
#seeitlive {
    background: transparent url(/images/index/live-video-screenshot.jpg);
    background-size: cover;
    background-position: top center;
    height: 520px;
    text-align: center;
    position: relative;

    h1, p {
        text-align: center;
    }

    h1 {
        color: #fff;
        font-size: 48px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 60px;
    }

    p {
        font-size: 16px;
        margin-top: 60px;
    }

    .darken {
        //background: rgba(0,0,0,.35);
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
        height: 520px;
        width: 100%;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
    }

    .play-button {
        background-image: url(../images/svg/btn-play-arrow-only.svg);
        background-size: 32px 22px;
        background-position: 22px 50%;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0 auto;
        border-width: 3px;
        line-height: 74px;
        font-size: 20px;
        padding: 0 30px 0 60px;
        text-transform: uppercase;
    }
}


//--------------------------------------
// Customer Uses / Product Benefits
.template-index {
    #productbenefits {
        padding-bottom: 0;

        .container .image {
            background-image: url(../images/index/heddoko-product-use.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left bottom;
            overflow: hidden;
            min-height: 640px;
            position: relative;
        }

        &.sports {
            .container .image {
                background-image: url(/images/index/heddoko-product-use-2.jpg);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: left bottom;
                overflow: hidden;
                min-height: 640px;
                position: relative;
            }
        }
        .container .row > .content {
            h2 {
                color: #333;
                font-size: 40px;
                position: relative;
                //margin-left: 35px;
                text-align: left;

                &:before {
                    position: absolute;
                    content: '';
                    border-left: 5px solid #36bf9f;
                    top: 6px;
                    left: -40px;
                    height: 85%;
                }
            }

            p { font-size: 16px; line-height: 28px; margin-bottom: 40px; text-align: left; }
        }
    }
}


//--------------------------------------
// Featured In
#featured {
    padding-top: 120px;

    h2 {
        font-size: 48px;
        position: relative;
        margin: 0 auto 20px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;

        &:before {
            position: absolute;
            content: '';
            border-top: 5px solid #36bf9f;
            width: 40px;
            top: -32px;
            left:  ~"calc(50% - 20px)";
        }
    }

    a {
        display: block;
        position: relative;
        line-height: 132px;
    }

    img {
        max-width: 80%;
        vertical-align: middle;
        position: relative;
    }

    .feature { text-align: center; }
    .first-row { margin-bottom: 20px;}
}

//--------------------------------------
// Smart Garment + App
.smart-garment-app {
    padding: 0; 

    .container {
        background-size: 50% auto;
        background-repeat: no-repeat;

        h1 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 48px;
            margin-top: 88px;

            span {
                color: #36bf9f;
            }
        }

        p { margin-bottom: 20px; }
    }
}

.h-smart-garment .container {
    background-image: url(../images/index/smart-garment-and-app.jpg);
    background-position: left center;
    min-height: 440px;
    max-height: 450px;

    h1 {
        font-size: 40px;
        position: relative;
        margin-left: 35px;

        &:before {
            position: absolute;
            content: '';
            border-top: 5px solid #36bf9f;
            top: -28px;
            left: 0;
            width: 40px;
        }
    }
    p, .btn { margin-left: 35px; }

}

.h-smart-app .container {
    background-image: url(../images/index/heddoko-four-pillars.jpg);
    background-position: right bottom;
    min-height: 490px;
    max-height: 500px;

    h1 {
        margin-right: 35px;
        margin-bottom: 35px;
    }
}

.feature-group {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #fafafc;

    #productspecs .has-icon-img {
        border: 1px solid rgba(0,0,0,.1);
        background-size: 100%;
        height: 100px !important;
        width: 100px !important;
        background: transparent center center no-repeat;
        display: block;
        margin: 0 auto 15px;
    }
}

.template-index {
    #productspecs {
        padding: 0;

        .container .row > .content .has-icon-img,
        .has-icon-img {
            border: 1px solid rgba(0,0,0,.1);
            background-size: 100%;
            height: 100px !important;
            width: 100px !important;
            background: transparent center center no-repeat;
            display: block;
            margin: 0 auto 15px;
        }
    }
}


//----------------------------------------------------------------------------
//----------------------------------------------------------------------------
// Product / About Page Styles
.template-product,
.template-about {
    .main-content {
        .page-title {
            margin-top: 120px;
            font-size: 52px;
            color: #333;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                border-top: 5px solid #36bf9f;
                width: 40px;
                top: -32px;
                left:  ~"calc(50% - 20px)";
            }
        }
        .page-description {
            text-align: center;
        }
    }


    #apphighlight {
        background: transparent url(/images/product/bg-product-dashboard.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 450px;

        .container { height: 100%; }

        h1 {
            font-size: 42px;
            color: #fff;
            font-weight: 600;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0 1px 6px rgba(0,0,0,.5);
            padding: 0 80px;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &.sports {
        #apphighlight {
            background: transparent url(/images/index/bg_social.jpg);
        }
    }

    #howitworks {
        border-top: none;
        margin-top: 0;
        padding-top: 80px;
        padding-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .howitworks-steps {
            margin-bottom: 80px;
        }

        p { margin-bottom: 50px; }

        h2:before {height: 70%;}

        h4 {
            color: #49434D;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            padding-right: 150px;
            margin-bottom: 0;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .select .image {
            height: 93px;
            width: 93px;
            border: 1px solid rgba(0,0,0,.1);

            &:hover {
                background-color: #3bd6b2;
            }

            img:first-child { opacity: 1; }
        }

        .step-text { height: 93px; }

        .preview {
            .item {
                margin-top: 0;
                height: 800px;
                background-size: contain;
                background-repeat: no-repeat;
                overflow: hidden;
                position: relative;
            }

            .garment {
                background-image: url(../images/product/bg_product_garment_2.png);
                background-position: right bottom;
            }
            .apppair {
                background-image: url(../images/product/heddoko_app_screen_pair.png);
            }
            .appcapture {
                background-image: url(../images/product/heddoko_app_screen_movement-3.1.png);

            }
            .appadjustments {
                background-image: url(../images/product/heddoko_app_screen_movement-3.png);
            }

            .apppair, .appcapture, .appadjustments {
                width: 120%;
                margin-left: -40px;
                margin-top: 50px;
                background-position: center center;

            }
        }

        @media (min-width: 768px) {
            .preview { margin-bottom: 0; }
        }
    }

    #garment {
        margin-top: 0;
        background: #bdbec2 url(/images/product/bg_garment_back_2.jpg);
        background-size: 1600px 850px;
        background-repeat: no-repeat;
        background-position: center center;
        height: 850px;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            background: #bdbec2 url(/images/product/bg_garment_back.jpg);
            z-index: 999;
            opacity: 0.3;
        }

        .line{
          transform-origin: 0 100%;
          height: 1px;
          background: #595a5c;
          z-index: 10;
        }



        .circle {
            background: #3bbd9f;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 3px solid #FFF;
            text-align: center;
            position: absolute;
            z-index: 20;
            cursor: pointer;
            -webkit-transition: 200ms ease-in-out;
            -moz-transition: 200ms ease-in-out;
            -o-transition: 200ms ease-in-out;
            transition: 200ms ease-in-out;

            .icon-plus {
                -webkit-transition: 200ms ease-in-out;
                -moz-transition: 200ms ease-in-out;
                -o-transition: 200ms ease-in-out;
                transition: 200ms ease-in-out;
                background: url(/images/icons/icon-plus-white.svg);
                background-size: 16px 16px;
                background-repeat: no-repeat;
                height: 16px;
                width: 16px;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                top: 6px;
            }

            &:hover {
                background: lighten(#3bbd9f, 10%);

                .icon-plus {
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }

            &.integrated {
                top: -38px;
                left: 208px;
            }
            &.full {
                top: 100px;
                left: 337px;
            }
            &.moisture {
                top: 81px;
                left: 180px;
            }
            &.breathable {
                top: 26px;
                left: -81px;
            }
            &.washable {
                top: 102px;
                left: -323px;
            }
            &.durable {
                top: 36px;
                left: -87px;
            }
        }

        .underline {
            height: 4px;
            position: absolute;
            background: #595a5c;
            width: 40px;
            bottom: -8px;
            right: 0;

            &.right {
                right: inherit;
                left: 0;
            }
        }

        .container { border-top: 0; }

        h2 {
            color: #333;
            font-size: 48px;
            font-weight: 600;
            display: block;
            text-align: left;
            margin-bottom: 20px;

            &:before {height: 70%;}
        }

        .feature-title {
            color: #3e3e40;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            text-align: left;
        }

        .smart-garment-features {
            position: relative;
        }

        .feature {
            display: inline-block;
        }

        .feature-integrated-sensors {
            position: absolute;
            top: 600px;
            left: 39px;
            text-align: right;
        }
        .feature-data-capture {
            position: absolute;
            top: 304px;
            left: 87px;
            text-align: right;
        }
        .feature-moisture-control {
            position: absolute;
            top: 150px;
            left: 263px;
            text-align: right;
        }
        .feature-breathable {
            position: absolute;
            top: 154px;
            right: 120px;
            text-align: lefts;
        }
        .feature-washable {
            position: absolute;
            top: 498px;
            right: 54px;
            text-align: lefts;
        }
        .feature-durable {
            position: absolute;
            top: 664px;
            right: 65px;
            text-align: lefts;
        }
    }

    #web {
        background: transparent;
        padding-top: 120px;

        .web-bg {
            background: transparent url(/images/product/heddoko_app_screen_movement-2.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            min-height: 640px;
            position: relative;
        }

        h2 {
            color: #333;
            font-size: 48px;
            font-weight: 600;
            display: block;
            margin-bottom: 60px;
        }


        .content { padding-top: 0; }
        .container .row > .content .col-xs-12 .col-img {
            .has-icon-img {
                padding-top: 30%;
                width: 30%;
                border: 1px solid rgba(0,0,0,.1);
                background-position: center center;
                background-repeat: no-repeat;
                margin: 0 auto;
            }
            p {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;
                margin-bottom: 20px;
                color: #49434D;
                margin-top: 10px;
            }
        }
    }

    #whatwemeasure {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.035));
        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
        border-top: 1px solid rgba(0, 0, 0, 0.075);
        h2 {
            color: #333;
            font-size: 48px;
            font-weight: 600;
            display: block;
            margin-bottom: 60px;
        }

        h3 {
            color: #333;
            font-size: 36px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            border-top: 1px solid rgba(0,0,0,.075);
            padding-top: 70px;
            width: 90%;
            margin: 0 auto 20px;
        }

        ul li {
            position: relative;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            color: #5c5e66;
            text-align: left;
            display: inline-block;
            margin-right: 50px;

            &:after {
                position: absolute;
                right: -35px;
                top: 0;
                content: '//';
                color: #b8becc;
            }
        }
    }
}

.template-product.sports #web .web-bg {
    background-image: url(/images/product/_sports/heddoko_smart_app_screen_sports.png);
}
.template-product.sports #howitworks .preview .appcapture {
    background-image: url(/images/product/_sports/heddoko_smart_app_screen_sports.png);
}
.template-product.sports #howitworks .preview .appadjustments {
    background-image: url(/images/product/_sports/heddoko_sports_metrics.png);
}



//----------------------------------------------------------------------------
//----------------------------------------------------------------------------
// Request Quote End Page Divider
.template-index,
.template-product,
.template-about {
    #divider {
        background: url(../images/product/bg_garment_suit.jpg) no-repeat center -300px;
        background-size: cover;
        height: 300px;
        margin-left: -1px;

        .container { height: 100%; }

        h2 {
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .btn-default-outline {
            display: inline-block;
            margin: 0 auto;
            border-width: 3px;
            line-height: 74px;
            font-size: 20px;
            padding: 0 30px;
            text-transform: uppercase;
        }
    }
}

//----------------------------------------------------------------------------
//----------------------------------------------------------------------------
// Signup / Request Quote
.template-signup,
.template-quote {
    > section {
        background-size: cover;
        overflow: hidden;
        padding: 0;
        min-height: 768px;
        position: relative;
        padding-top: 146px;
    }
    .page-title {
        margin-top: 120px;
        font-size: 60px;
        color: #333;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            border-top: 5px solid #36bf9f;
            width: 40px;
            top: -32px;
            left:  ~"calc(50% - 20px)";
        }
    }
    .readable-column {
        font-size: 18px;
        line-height: 28px;
    }
}
.template-signup > section { background-image: url(../images/signup/bg_signup_2.jpg); }
.template-quote > section { background-image: url(../images/quote/bg_requestquote_3.jpg); }



//----------------------------------------------------------------------------
//----------------------------------------------------------------------------
// Misc. Styles
.button-container {
    margin:0 auto;
    width: 100%;
    text-align: center;
    .btn {
        text-align: center;
    }
}
#productbenefits {
    .image {
        text-align: center;
    }
    border-bottom: 1px solid #eee;
    .has-icon-img {
        border: 1px solid rgba(0,0,0,.1);
        background-size: 100%;
        height: 100px !important;
        width: 100px !important;
        background: transparent center center no-repeat;
        display: block;
        margin: 0 auto 15px;
    }
    h4 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
        color: #49434D;
    }
}
#mc_embed_signup {
    select {
        width: 100%;
    }
}
.dark {
    background: #49434D;
}
.we-quantify-list {
    list-style-type: none;
    text-align: center;
    margin-bottom: 80px;
}
.quotation-form {
    .company-size {
        padding: 10px;
    }
}

#subscribe {
    .container > div .btn {
        margin-left: 10px;
    }
}
.centered {
    text-align: center;
}



//--------------------------------------
// Style Carousel
#how-customers-use {
    .owl-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .owl-next {
            float: right;
            padding: 10px 10px 7px 15px;
            margin-right: 15px;
        }
        .owl-prev {
            float: left;
            padding: 10px 15px 7px 10px;
            margin-left: 15px;
        }
        .fa {
            font-size: 36px;
        }
    }
}

.owl-theme {
    .owl-nav [class*=owl-] {
        color: #dcdcde;
        background-color: transparent;
        transition: all 0.2s;
        
        &:hover {
            color: #36bf9f;
            background-color: transparent;
        }
    }

    .owl-dots { margin: 15px auto; }

    .owl-dots .owl-dot span {
        background-color: #dcdcde;
        transition: all 0.2s;

        &:hover, &:hover span {
            background-color: #36bf9f;
        }
    }
    .owl-dot:hover span { background-color: #36bf9f; }

    .owl-dots .owl-dot.active span, 
    .owl-dots .owl-dot:hover span {
        background-color: #36bf9f;
    }
}


//--------------------------------------
// Footer
footer .container {
    .footer-nav {
        text-align: center;
        margin: 0 auto 20px;

        li {
            width: auto;
            display: inline-block;
            float: none;

            > a {
                font-size: 14px;
            }
        }
    }
    .footer-social a .fa { font-size: 1.5em; }   
    #copyright { font-size: 14px; color: rgba(255,255,255,.75); }
    p { margin-bottom: 30px; }
}













