.navbar-brand span {
	color: #d33636;
}

.btn-home:before ,
.btn-home:after {
	content: "";
	background: #d33636;
}

.flogo span {
	color: #d33636;
}

.side-widget h5 {
	color: #d33636;
}

.side-list li:before {
	content: "";
	background: #d33636;
}

.btop {
	color: #d33636;
}

.navbar-nav li.active a,.navbar-nav li a:hover {
	color: #d33636;
}

#owl-intro .item a:before ,
#owl-intro .item a:after {
	content: "";
	background: #d33636;
}

#owl-intro .owl-controls .owl-prev:hover,#owl-intro .owl-controls .owl-next:hover,#owl-folio .owl-controls .owl-prev:hover,#owl-folio .owl-controls .owl-next:hover {
	background: #d33636;
}

.folio-filter li:hover, .folio-filter li.active {
	background: #d33636 !important;
}

#services ul li:hover .ico i {
	color: #d33636 !important;
}

#services ul li:nth-child(3) .ico i {
	color: #d33636;
}

#owl-fworks .owl-prev:hover:before ,
#owl-fworks .owl-next:hover:before {
	color: #d33636;
}

.s-btn:before ,
.s-btn:after ,
.contact-form button:before ,
.contact-form button:after ,
.c-form button:before ,
.c-form button:after {
	content: "";
	background: #d33636;
}

.a-ico i {
	background: #d33636;
	border: 1px solid #d33636;
}

.about-inner h2 span {
	background: #d33636;
}

#facts ul li i {
	color: #d33636;
}

#facts h3,.inner-wrap2 h3 {
	color: #d33636;
}

.services2-content ul li:hover i {
	background: #d33636;
}

.services2-content ul li:hover h4 {
	color: #d33636;
}

.cq-info span {
	color: #d33636;
}

.team-info h4 span {
	color: #d33636;
}

.folio-inner h4 span {
	color: #d33636;
}

#team .item:hover .team-info {
	background: #d33636;
}

.folio-info:hover .folio-inner {
	background: #d33636;
}

#owl-team .owl-controls .owl-page.active span {
	background: #d33636;
}

.team-overlay .social {
	background: #d33636;
}

#owl-team .team-overlay .social li a {
	color: #d33636 !important;
}

.cinfo:before {
	content: "";
	background: #d33636;
}

footer p a:hover {
	color: #d33636;
}

.social li a:hover {
	background: #d33636;
}

.ci-inner i {
	color: #d33636;
}

.social-big li a:hover {
	color: #d33636;
}

.page-head h2 {
	color: #d33636;
}

.rmore:before ,
.rmore:after {
	content: "";
	background: #d33636;
}

article h4 a:hover {
	color: #d33636;
}

.p-ico i {
	color: #d33636;
}

.rposts-list li h4 a:hover {
	color: #d33636;
}

.tags-list li a:hover {
	background: #d33636;
	border: 1px solid #d33636;
}

.page-nav ul li.active a,.page-nav ul li a:hover {
	background: #d33636;
	border-color: #d33636;
}

.blockquote-wrap {
	border-left: 6px solid #d33636;
}

.share-social li a:hover {
	color: #d33636;
}

.reply {
	color: #d33636;
}

.reply:hover {
	color: #d33636;
}

.reply:after {
	content: "";
	background: #d33636;
}

.star .yes {
	color: #d33636;
	font-size: 15px;
}

.bcrumbs li a {
	color: #d33636;
}

.lmore:hover {
	background: #d33636;
	border: 1px solid #d33636;
}

.pause-btn {
	background: url(../../images/colors/red/pause.png) no-repeat;
}

.play-btn {
	background: url(../../images/colors/red/play.png) no-repeat;
}

.blockquote:before {
	content: "";
	background: url(../../images/colors/red/quote.png) no-repeat center center;
}

.sep {
	background: url(../../images/colors/red/sep.png) no-repeat center;
}

#services h3, #fworks h3, #about h3, #services2 h3, #team h3, #portfolio h2, .map-wrap h3, .main-content h3 {
	background: url(../../images/colors/red/sep.png) no-repeat center bottom;
}

.clients-info h3 {
	background: url(../../images/sep.png) no-repeat center bottom;
}

.about ul {
	background: url(../../images/colors/red/icon-sep.png) no-repeat left center;
}

#services2 {
	background: url(../../images/colors/red/sep-big.png) no-repeat center bottom;
}

.social-big-wrap {
	background: url(../../images/colors/red/sep-big.png) no-repeat center bottom;
}

article {
	background: url(../../images/colors/red/sep-big.png) no-repeat center bottom;
}





