/*

COLORS ----------------
GREEN 			#3bd6b2 / rgba(59, 214, 178, 1)
DARKGREY 		#49434d / rgba(73, 67, 77, 1)
LIGHTGREY 		#858585 / rgba(133, 133, 133, 1)

*/

/* =====================================================================
HEADER
===================================================================== */
header {
	background: none;
}

/* =====================================================================
SLIDER
===================================================================== */
.slider-home {
	background: #49434d url(../images/index/bg_home.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	padding: 0;
	min-height: 768px;
	position: relative;
}

.slider-home .container > div {
	text-align: center;
}

.slider-home .container > .videobg {
	background: #000;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider-home .container > .videobg .preventcontrols {
	background: rgba(0,0,0,0.1);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider-home .container > .videobg video {
	position: absolute;
	top: 0;
	right: 0;
	left: 0%;
	width: auto;
	height: 100%;
}

.slider-home .container > .content {
	position: absolute;
	float: none;
	margin-left: auto;
	margin-right: auto;
	bottom: 100px;
	left: 0;
	right: 0;
}

.slider-home .container > div .play {
	display: block;
	margin: 0 auto 150px auto;
	opacity: 0.6;
	height: 100px;
	width: 100px;
}

.slider-home .container > div .play:hover {
	opacity: 1;
}

.slider-home .container > div h1 {
	color: #fff;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin-bottom: 30px;
}


/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	.slider-home .container > div .play {
		margin: 0 auto 50px auto;
	}

	.slider-home .container > div h1 span {
		display: block;
	}
}

/* =====================================================================
#modal
===================================================================== */
#modal {
	background: rgba(0, 0, 0, 0.9);
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10000;
}

#modal .btn.close {
	border: none;
	position: absolute;
	top: 20px;
	right: 20px;
	background: none;
	padding: 0;
	color: #fff;
	font-size: 100px;
	line-height: 100px;
	opacity: 1;
	z-index: 10001;
}

#modal .btn.close:hover {
	border: none;
	background: none;
	opacity: 0.8;
}

#modal .container .row > div {
	padding-top: 100px;
	text-align: center;
}

#modal .container .row > div form .btn {
	padding-top: 12px;
	padding-bottom: 11px;
}

#modal .container .row form .btn[disabled] {
	background-color: transparent;
}

#modal .container .row .ajax,
#modal .container .row #thankyoudiv {
	display: none;
}

#modal .container .row > div #thankyoudiv {
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* =====================================================================
GARMENT
===================================================================== */
#garment {
	background: #39373a;
}

#garment .container {
}

#garment .container .row {
}

#garment .container .row > div {
}

#garment .container .row > .content {
	padding-top: 80px;
}

#garment .container .row > .content h2 {
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#garment .container .row > .content h2 span {
	background: #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#garment .container .row > .content p {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

#garment .container .row > .content img {
	display: block;
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#garment .container .row > .content .btn {
	background: #9c9b9d;
	font-size: 14px;
	padding: 10px 60px;
	text-transform: uppercase;
}

#garment .container .row > .image img {
	width: 100%;
	height: auto;
}

#garment .container .row > .image img.animated-out {
	-webkit-transform: translateY(0px) translateX(35px);
	-moz-transform: translateY(0px) translateX(35px);
	-o-transform: translateY(0px) translateX(35px);
	-ms-transform: translateY(0px) translateX(35px);
	transform: translateY(0px) translateX(35px);
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#garment .container .row > .content {
		padding-top: 0px;
	}

	#garment .container .row > .content img {
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#garment .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
	}
	#garment .container .row > .content img {
		width: 60%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	#garment .container .row > .content {
		padding-top: 0px;
	}
}

/* =====================================================================
PRODUCT SPECS
===================================================================== */
#productspecs {
	border-top: 0px solid #eeeeee;
	overflow: hidden;
	padding: 50px 0 50px 0;
	position: relative;
	min-height: 650px;
}

#productspecs .container {
}

#productspecs .container .row {
}

#productspecs .container .row > div {
}

#productspecs .container .row > .image {}

#productspecs .container .row > .image .image-animation {
	display: none;
}

#productspecs .container .row > .image .image-animation video {
	/*opacity: 0.3;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 107px;
	left: 4px;
	right: 0;
	width: 68%;
}

#productspecs .container .row > .image .image-animation .preventcontrols {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#productspecs .container .row > .image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 82%;
	height: auto;
}

#productspecs .container .row > .content {
	padding-top: 100px;
}

#productspecs .container .row > .content h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#productspecs .container .row > .content h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#productspecs .container .row > .content p {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

#productspecs .container .row > .content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
	margin-bottom: 20px;
    -webkit-transition: all 250ms ease-out 0s;
    -moz-transition: all 250ms ease-out 0s;
    -o-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;
}

#productspecs .container .row > .content a:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#productspecs .container .row > .content .btn {
	background: #3bd6b2;
	font-size: 14px;
	padding: 10px 60px;
	text-transform: uppercase;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#productspecs .container .row > .content {
		padding-top: 40px;
	}

	#productspecs .container .row > .content img {
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#productspecs .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
	}
	#productspecs .container .row > .content img {
		width: 60%;
	}
	#productspecs .container .row > .image img {
		width: 60%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	#productspecs .container .row > .content {
		padding-top: 0px;
	}

	#productspecs .container .row > .image .image-animation video {
		top: 80px;
	}
}

@media (min-width: 1200px) {
	#productspecs .container .row > .content {
		padding-top: 120px;
	}
}

@media (min-width: 768px) {
	#productspecs {
		height: 650px;
	}	
}

/* =====================================================================
SEE IT LIVE
===================================================================== */
#seeitlive {
	background: #343c44;
	overflow: hidden;
	padding: 50px 0 0 0;
}

#seeitlive .container .row > .content {
	padding-top: 150px;
}

#seeitlive .container .row > div h1 {
	color: #d6d8da;
	font-size: 60px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

#seeitlive .container .row > div p {
	color: #d6d8da;
	font-size: 20px;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

#seeitlive .container .row > div p span {
	display: block;
}

#seeitlive .container .row > div p a {
	color: #fff;
	font-style: italic;
	text-decoration: underline;
}

#seeitlive .container .row > div p a:hover {
	color: #3bd6b2;
}

#seeitlive .container .row > div img {
	width: 100%;
}

#seeitlive .container .row > .image .image-animation {
	display: none;
}

#seeitlive .container .row > .image .image-animation video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 25px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 92.5%;
}

#seeitlive .container .row > .image .image-animation .preventcontrols {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#seeitlive .container .row > .image .player {
	position: relative;
}

#seeitlive .container .row > .image .player a {
	position: absolute;
	top: 0;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.6;
	z-index: 20;
}

#seeitlive .container .row > .image .player a img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 20%;
	margin: auto;
}

#seeitlive .container .row > .image .player a:hover {
	opacity: 1;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#seeitlive .container .row > .content {
		padding-top: 0px;
	}

	#seeitlive .container .row > div h1 {
		font-size: 48px;
	}

	#seeitlive .container .row > div p {
		font-size: 16px;
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#seeitlive .container .row > .content {
		padding-top: 50px;
	}

	#seeitlive .container .row > .image .image-animation video {
		top: 16px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	#seeitlive .container .row > .image .image-animation video {
		top: 21px;
	}
}


/* =====================================================================
PRODUCT BENEFITS
===================================================================== */
#productbenefits {}

#productbenefits .container {}

#productbenefits .container .row {}

#productbenefits .container .row > div {}

#productbenefits .container .row > .content {}

#productbenefits .container .row > .content h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#productbenefits .container .row > .content h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#productbenefits .container .row > .content p {
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

#productbenefits .container .row > .content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
	margin-bottom: 20px;
    -webkit-transition: all 250ms ease-out 0s;
    -moz-transition: all 250ms ease-out 0s;
    -o-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;
}

#productbenefits .container .row > .content a:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#productbenefits .container .row > .content .btn {
	background: #3bd6b2;
	font-size: 14px;
	padding: 10px 10px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#productbenefits .container .row > .image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#productbenefits .container .row > .content {
		padding-top: 40px;
	}

	#productbenefits .container .row > .content img {
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#productbenefits .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
	}

	#productbenefits .container .row > .content .buttons.col-xs-12 .col-xs-12 {
		width: 100%;
	}

	#productbenefits .container .row > .content img {
		width: 60%;
	}
	#productbenefits .container .row > .image img {
		width: 60%;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
	#productbenefits .container .row > .content {
		padding-top: 20px;
	}
}

@media (min-width: 1px) and (max-width: 1199px) {
	#productbenefits .container .row > .content .btn {
		display: block;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (min-width: 1200px) {
	#productbenefits .container .row > .content {
		padding-top: 120px;
	}
}

/* =====================================================================
LEARN PRODUCT
===================================================================== */
#learnproduct {
	background: #49434d url(../images/index/bg_learn.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

#learnproduct .container > .videobg {
	background: #000;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#learnproduct .container > .videobg .preventcontrols {
	background: rgba(0,0,0,0.1);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#learnproduct .container > .videobg video {
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
	width: auto;
	height: 100%;
}

#learnproduct .container .row > .content {
	padding-top: 400px;
}

#learnproduct .container .row > div h1 {
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

#learnproduct .container .row > div h1 a {
	color: #fff;
	font-style: italic;
	text-decoration: underline;
}

#learnproduct .container .row > div h1 a:hover {
	color: #3bd6b2;
}

#learnproduct .container .row > .image {}

#learnproduct .container .row > .image .glare {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 90;
}

#learnproduct .container .row > .image .image-animation {
	display: none;
	position: absolute;
}

#learnproduct .container .row > .image .image-animation video {
	display: block;
	margin: 66px 0 0 17px;
	width: 190px;
	height: auto;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#learnproduct .container .row > .content {
		padding-top: 0px;
	}

	#learnproduct .container .row > div h1 {
		/*font-size: 48px;*/
		margin-bottom: 30px;
	}

	#learnproduct .container .row > div img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#learnproduct .container .row > div h1 span {
		display: block;
	}
	#learnproduct .container .row > .content {
		padding-top: 360px;
	}

}

/* =====================================================================
AWARDS
===================================================================== */
#awards {}

#awards .container {}

#awards .container .row {
	position: relative;
}

#awards .container .row > div {
	position: static;
}

#awards .container .row > div h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#awards .container .row > div h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#awards .container .row > div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}

#awards .container .row > div p {
	font-size: 14px;
	font-style: normal;
}

#awards .container .row > div p span {
	display: inline;
	color: #858585;
	font-style: normal;
	margin: 0;
}

#awards .container .row > div a.prev {
	left: 0;
}

#awards .container .row > div a.next {
	right: 0;
}

#awards .container .row > div a.prev,
#awards .container .row > div a.next {
	display: block;
	cursor: pointer;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	height: 50px;
	width: auto;
}

#awards .container .row > div a.prev img,
#awards .container .row > div a.next img {
	height: 100%;
	width: auto;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#awards .container .row > div a.prev {
		left: 15px;
	}

	#awards .container .row > div a.next {
		right: 15px;
	}

}

@media (min-width: 992px) {
	#awards .container .row > div img {
		width: auto;
		max-height: 200px;
	}
}

@media (min-width: 1200px) {
	#awards .container .row > div p span {
		display: block;
	}
}

/* =====================================================================
PARTNERS
===================================================================== */
#partners {
	background: url(../images/index/bg_social.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding-top: 150px;
}

#partners .container {}

#partners .container .row {}

#partners .container .row > div {}

#partners .container .row > div h2 {
	color: #fff;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#partners .container .row > div h2 span {
	background: #fff;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#partners .container .row > div a {
	display: block;
	margin: 15px auto;
	width: 50%;
}

#partners .container .row > div a:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 768px) {
	#partners .container .row > div a {
		width: 100%;
	}
}

/* =====================================================================
FACTS
===================================================================== */
#facts {
	background: url(../images/index/bg_social.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding-top: 150px;
}

#facts .container-fluid .row > div img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 80px;
	max-width: 80px;
}

/* =====================================================================
SUBSCRIBE
===================================================================== */
#subscribe {
	background: #3bd6b2;
	padding: 40px 0;
}

#subscribe h2 {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 36px;
	margin: 0;
	text-align: center;
}

#subscribe input {
	background: #b1efe0;
}

#subscribe input::-webkit-input-placeholder {
	color: #ffffff;
	font-style: italic;
}

#subscribe input:-moz-placeholder {
	color: #ffffff;
	font-style: italic;
}

#subscribe input::-moz-placeholder {
	color: #ffffff;
	font-style: italic;
}

#subscribe input:-ms-input-placeholder {
	color: #ffffff;
	font-style: italic;
}

#subscribe .input-group-btn input {
	margin: 0;
}

#subscribe .container > div .ajax {
	display: none;
	margin: 0 auto;

}

#subscribe .container > div #thankyoudiv-2 {
	color: #fff;
	display: none;
	margin: 0 auto;
	text-align: center;
}

#subscribe .container > div .btn {
	padding-top: 12px;
	padding-bottom: 11px;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 991px) {

	
	#subscribe .form-control {
		margin-bottom: 10px;
	}

	#subscribe .input-group {
		display: block;
	}

	#subscribe .input-group input {
		width: 100%;
	}
}

@media (min-width: 992px) {
	#subscribe h2 span {
		display: block;
	}
}
