/*

COLORS ----------------
GREEN 			#3bd6b2 / rgba(59, 214, 178, 1)
DARKGREY 		#49434d / rgba(73, 67, 77, 1)
LIGHTGREY 		#858585 / rgba(133, 133, 133, 1)

*/

/* =====================================================================
MOBILE APP
===================================================================== */
#mobileapp {
	background: url(../images/product/bg_mobileapp.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 35px 0;
	overflow: hidden;
}

#mobileapp .image-container {
	display: block;
	width: 228px;
	height: 454px;
	position: relative;
	margin-left: auto;
	margin-right: auto

}

#mobileapp .image-container .image-animation {
	display: block;
	width: 187px;
	height: 330px;
	position: absolute;
	top: 58px;
	left: 21px;
	overflow: hidden;
}

#mobileapp .image-container .image-animation .image-videos {
	display: none;
	margin-left: 0;
}

#mobileapp .image-container .image-animation .image-videos video {
	width: 187px;
	height: auto;
}

#mobileapp .image-container img {
	display: block;
	width: 100%;
	height: auto;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	#mobileapp img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

/* =====================================================================
HOW IT WORKS
===================================================================== */
#howitworks {
	margin-top: -100px;
	border-top: 100px solid transparent;
	padding-top: 100px;
	padding-bottom: 100px;
}

#howitworks h4 {
	font-weight: 400;
	letter-spacing: 0px;
	text-transform: uppercase;
	margin-bottom: 50px;
}

#howitworks .preview {
	margin-bottom: 50px;
}

#howitworks .preview .item {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 100%;
	height: auto;
	position: relative;
}

#howitworks .preview .item:first-child {
	display: block;
}

#howitworks .preview .item .image-animation {
	display: block;
	width: 221px;
	height: 390px;
	position: absolute;
	top: 72px;
	left: 21px;
}

#howitworks .preview .item .image-animation video {
	display: block;
	width: 100%;
	height: auto;
}

#howitworks .preview .apppair, 
#howitworks .preview .appcapture {
	width: 265px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#howitworks .preview .apppair img, 
#howitworks .preview .appcapture img {
	margin-top: 0;
	width: 100%;
	height: auto;
}

#howitworks .select {}

#howitworks .select .image {
	display: block;
	cursor: pointer;
	position: relative;
	width: 80%;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
    -webkit-transition: all 250ms ease-out 0s;
    -moz-transition: all 250ms ease-out 0s;
    -o-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;
}

#howitworks .select .image:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#howitworks .select .image img:first-child {
	position: absolute;
	opacity: 0;
    -webkit-transition: all 250ms ease-out 0s;
    -moz-transition: all 250ms ease-out 0s;
    -o-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;
}

#howitworks .select.active .image img:first-child,
#howitworks .select .image:hover img:first-child {
	opacity: 1;
}

#howitworks .select .vertical {
	display: block;
	background: #eaeaea;
	margin-left: 50%;
	width: 1px;
	height: 30px;
}

#howitworks .select:last-child .vertical {
	display: none;
}

#howitworks .select h5 {
	font-weight: 400;
	letter-spacing: 0px;
	margin-top: 15px;
	text-transform: uppercase;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) {
	#howitworks h4 {
		display: block;
		text-align: center;
	}
	
	#howitworks .preview {
		margin-bottom: 0;
	}

	#howitworks .preview img {
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		width: 60%;
	}

	#howitworks .select span {
		height: 20px;
	}
}

@media (min-width: 768px) {
	#howitworks h4 {
		display: block;
		text-align: left;
	}

	#howitworks .preview {
		margin-bottom: 50px;
	}

	#howitworks .preview img {
		margin-top: 50px;
		width: 100%;
	}

	#howitworks .select span {
		height: 30px;
	}
}

@media (min-width: 768px) {
	#howitworks .select .image,
	#howitworks .select .image img {
		height: 51px;
	}
}

@media (min-width: 992px) {
	#howitworks .select .image,
	#howitworks .select .image img {
		height: 73px;
	}
}

@media (min-width: 1200px) {
	#howitworks .select .image,
	#howitworks .select .image img {
		height: 93px;
	}
}

/* =====================================================================
BETTER
===================================================================== */
#better {
	background: url(../images/product/bg_better.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

#better p {
	margin-top: 80px;
	color: #c5c5c5;
	display: block;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}

#better h1 {
	color: #c5c5c5;
	display: block;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 80px;
}

#better h1 span {
	font-size: 35px;
	display: block;
}

@media (min-width: 1px) and (max-width: 767px) {
	#better h1 {
		font-size: 48px;
	}
}

/* =====================================================================
GARMENT
===================================================================== */
#garment {
	padding-top: 0px;
	margin-top: -100px;
}

#garment .container {
  border-top: 100px solid transparent;
  padding-top: 80px;
}

#garment h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#garment h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#garment .content img {
	display: block;
	width: 80%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#garment .content p {
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#garment .image img {
	width: 100%;
	height: auto;
}

#garment .image img.animated-out {
	-webkit-transform: translateY(0px) translateX(35px);
	-moz-transform: translateY(0px) translateX(35px);
	-o-transform: translateY(0px) translateX(35px);
	-ms-transform: translateY(0px) translateX(35px);
	transform: translateY(0px) translateX(35px);
}

@media (max-width: 479px) {
	#garment .container .row > .content img {
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#garment .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
	}

	#garment .container .row > .content img {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	#garment .content {
		padding-top: 100px;
	}
}

/* =====================================================================
MOBILE
===================================================================== */
#mobile {
	background: #333d4d;
	padding-top: 80px;
	padding-bottom: 80px;
	border-top: 80px solid #fff;
	margin-top: -80px;
}

#mobile h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#mobile h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#mobile .image-container {
	display: block;
	width: 300px;
	height: auto;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#mobile .image-container .image-animation {
	display: none;
	position: absolute;
	width: 192px;
	height: 338px;
	top: 63px;
	left: 20px;
}

#mobile .image-container .image-animation video {
	display: block;
	width: 100%;
	height: auto;
}

#mobile .image-container img {
	width: 100%;
	height: auto;
}

#mobile .container .row > .content .col-xs-12 .col-xs-12 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 80%;
}

#mobile .container .row > .content .col-xs-12 .col-xs-12 p {
	color: #fff;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

@media (max-width: 479px) {
	#mobile .container .row > .content .col-xs-12 .col-xs-12 img {
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#mobile .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
	}

	#mobile .container .row > .content .col-xs-12 .col-xs-12:first-child {
		margin-left: 16.665%;
	}

	#mobile .container .row > .content .col-xs-12 .col-xs-12 img {
		width: 60%;
	}
}

@media (min-width: 768px) {
	#mobile .container .row > .content {
		padding-top: 130px;
	}
}

/* =====================================================================
WEB
===================================================================== */
#web {
	background: #39373a;
	padding-bottom: 80px;
	margin-top: -100px;
}

#web {
	padding-top: 80px;
	border-top: 100px solid #333d4d;
	margin-top: -100px;
}

#web h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#web h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#web .image img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#web .container .row > .content .col-xs-12 .col-xs-12 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 80%;
}

#web .container .row > .content .col-xs-12 .col-xs-12 p {
	color: #fff;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}

#web .container .row > .image .animated-out {
	-webkit-transform: translateY(0px) translateX(35px);
	-moz-transform: translateY(0px) translateX(35px);
	-o-transform: translateY(0px) translateX(35px);
	-ms-transform: translateY(0px) translateX(35px);
	transform: translateY(0px) translateX(35px);
}

@media (max-width: 479px) {
	#web .container .row > .content .col-xs-12 .col-xs-12 img {
		width: 40%;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#web .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
	}

	#web .container .row > .content .col-xs-12 .col-xs-12 img {
		width: 60%;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	#web .image {
		padding-top: 100px;
	}
}

@media (max-width: 1200px) {
	#web .image img {
		width: 100%;
		height: auto;
	}
}

@media (min-width: 1200px) {
	#web .content {
		padding-top: 50px;
	}
}

/* =====================================================================
BENEFITS
===================================================================== */
#benefits {
	background: url(../images/product/bg_what.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	padding-bottom: 80px;
	border-top: 100px solid #39373a;
	margin-top: -100px;
	width: 100%;
}

#benefits h1 {
	color: #e3e3e3;
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
}

#benefits .col-xs-12 .col-xs-12 a {
	display: block;
    -webkit-transition: all 250ms ease-out 0s;
    -moz-transition: all 250ms ease-out 0s;
    -o-transition: all 250ms ease-out 0s;
    transition: all 250ms ease-out 0s;
}

#benefits .col-xs-12 .col-xs-12 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

    width: 80%;
}

#benefits .col-xs-12 .col-xs-12 img.green {
	display: none;
}

#benefits .col-xs-12 .col-xs-12 a:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#benefits .col-xs-12 .col-xs-12 a:hover img {
	display: none;
}

#benefits .col-xs-12 .col-xs-12 a:hover img.green {
	display: block;
}

#benefits .col-xs-12 .col-xs-12 p {
	color: white;
	display: block;
	text-align: center;
	margin-bottom: 20px;
}


@media (max-width: 479px) {
	#benefits .container .row > .content .col-xs-12 .col-xs-12 img {
		width: 40%;
	}
}

@media (min-width: 1px) and (max-width: 767px) {
	#benefits .container .row > div h1 {
		font-size: 48px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	#benefits .container .row > .content .col-xs-12 .col-xs-12 {
		width: 33.33%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	#benefits .container .row > .content .col-xs-12 .col-xs-12 img {
		width: 60%;
	}
}

@media (min-width: 768px) {
	#benefits h1 span {
		display: block;
	}
}

/* =====================================================================
WEB APP
===================================================================== */
#webapp {
	overflow: hidden;
	padding: 0;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) {
	#webapp .container-fluid {
		height: 300px;
	}

	#webapp img {
		margin-right: -50px;
		float: right;
		height: 100%;
		width: auto;
	}
}

@media (min-width: 768px) {
	#webapp .container-fluid {
		height: auto;
	}

	#webapp img {
		margin: 0;
		width: 100%;
		height: auto;
	}
}

/* =====================================================================
BENEFITSATHLETES
===================================================================== */
#benefitsathletes {
	border-top: 90px solid transparent;
	margin-top: -90px;
	padding-top: 90px;
	padding-bottom: 0px;

}

#benefitsathletes h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#benefitsathletes h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#benefitsathletes .container .row > div p {
	display: block;
	text-align: center;
	margin-bottom: 70px;
}

#benefitsathletes h4 {
	display: block;
	font-weight: 400;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}

#benefitsathletes .column {
	margin-bottom: 100px;
}

#benefitsathletes .container .row > div .col-xs-12 p {
	text-align: left;
	margin-bottom: 0px;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) {
	#benefitsathletes .column {
		margin-bottom: 50px;
	}

	#benefitsathletes img {
		display: block;
		width: 40%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	#benefitsathletes h4 {
		display: block;
		text-align: center;
	}
}

@media (min-width: 768px) {
	#benefitsathletes .column {
		margin-bottom: 100px;
	}

	#benefitsathletes img {
		display: inline;
		width: 100%;
		height: auto;
		margin-bottom: 0px;
	}

	#benefitsathletes h4 {
		display: block;
		text-align: left;
	}
}

/* =====================================================================
DIVIDER
===================================================================== */
#divider {
	background: url(../images/product/bg_divider.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	height: 260px;
}

/* =====================================================================
BENEFITSCOACHES
===================================================================== */
#benefitscoaches {
	border-top: 90px solid transparent;
	margin-top: -90px;
	padding-top: 90px;
	padding-bottom: 0px;

}

#benefitscoaches h2 {
	color: #3bd6b2;
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

#benefitscoaches h2 span {
	background: #3bd6b2;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px;
	height: 5px;
	margin-top: 30px;
}

#benefitscoaches .container .row > div p {
	display: block;
	text-align: center;
	margin-bottom: 70px;
}

#benefitscoaches h4 {
	display: block;
	font-weight: 400;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
}
 
#benefitscoaches .column {
	margin-bottom: 100px;
}

#benefitscoaches .container .row > div .col-xs-12 p {
	text-align: left;
	margin-bottom: 0px;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) {
	#benefitscoaches .column {
		margin-bottom: 50px;
	}

	#benefitscoaches img {
		display: block;
		width: 40%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
	}

	#benefitscoaches h4 {
		display: block;
		text-align: center;
	}
}

@media (min-width: 768px) {
	#benefitscoaches .column {
		margin-bottom: 100px;
	}

	#benefitscoaches img {
		display: inline;
		width: 100%;
		height: auto;
		margin-bottom: 0px;
	}

	#benefitscoaches h4 {
		display: block;
		text-align: left;
	}
}

/* =====================================================================
brochure
===================================================================== */
#brochure {
	background: #3bd6b2;
	padding: 40px 0;
	font-size: 18px;
}

#brochure h2 a{
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 36px;
	margin: 0;
	text-align: center;
}

#brochure h2 a:hover{
	color: #000;
}

#brochure h2 {
	color: #efefef;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 36px;
	margin: 0;
	text-align: center;
}

#brochure input {
	background: #b1efe0;
}

#brochure input::-webkit-input-placeholder {
	color: #ffffff;
	font-style: italic;
}

#brochure input:-moz-placeholder {
	color: #ffffff;
	font-style: italic;
}

#brochure input::-moz-placeholder {
	color: #ffffff;
	font-style: italic;
}

#brochure input:-ms-input-placeholder {
	color: #ffffff;
	font-style: italic;
}

#brochure .input-group-btn input {
	margin: 0;
}

#brochure .container > div .ajax {
	display: none;
	margin: 0 auto;

}

#brochure .container > div #thankyoudiv-2 {
	color: #fff;
	display: none;
	margin: 0 auto;
	text-align: center;
}

#brochure .container > div .btn {
	padding-top: 12px;
	padding-bottom: 11px;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 991px) {

	
	#brochure .form-control {
		margin-bottom: 10px;
	}

	#brochure .input-group {
		display: block;
	}

	#brochure .input-group input {
		width: 100%;
	}
}

@media (min-width: 992px) {
	#brochure h2 span {
		display: block;
	}
}

