/*

COLORS ----------------
GREEN 			#3bd6b2 / rgba(59, 214, 178, 1)
DARKGREY 		#49434d / rgba(73, 67, 77, 1)
LIGHTGREY 		#858585 / rgba(133, 133, 133, 1)

*/

/* =====================================================================
HEADER
===================================================================== */
header {
	background: none;
}

/* =====================================================================
SLIDER
===================================================================== */
.slider-home {
	background: #49434d url(../images/signup/bg_signup.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 0;
	min-height: 768px;
	position: relative;
}

.slider-home .container > div {
	/*position: absolute;*/
	float: none;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	/*bottom: 100px;*/
	/*left: 0;*/
	/*right: 0;*/
	text-align: center;
}

.slider-home .container > div h1 {
	color: #fff;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	margin-bottom: 60px;
}

.slider-home .container > div p {
	color: #fff;
	display: block;
	text-align: center;
	margin-bottom: 60px;
}

.slider-home .container > div .form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.slider-home .container > div .form input {
	/*background: #fff;*/
}

.slider-home .container > div .form .input-group {}

.slider-home .container > div .form .btn {
	margin: 0;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 11px;
}

.slider-home .tp-banner-container .tp-banner .form .input-group .btn:hover {
	background: rgba(59, 214, 178, 1);
	color: #ffffff;
}

.slider-home .container > div .ajax {
	display: none;
	margin: 0 auto;

}

.slider-home .container > div #thankyoudiv {
	color: #fff;
	display: none;
	margin: 0 auto;
	text-align: center;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 1px) and (max-width: 767px) {
	.slider-home .container > div .play {
		margin: 0 auto 50px auto;
	}

	.slider-home .container > div h1 span {
		display: block;
	}

	.slider-home .container > div .form .input-group {
		display: block;
	}

	.slider-home .container > div .form .input-group .form-control {
		margin-bottom: 10px;
	}

	.slider-home .container > div .form .input-group .btn {
		display: block;
		width: 100%;
	}
}

/* =====================================================================
.slider-home
===================================================================== */
.slider-home .container .row > div form .btn {
	padding-top: 12px;
	padding-bottom: 11px;
}

.slider-home .container .row form .btn[disabled] {
	background-color: transparent;
}

.slider-home .container .row .ajax,
.slider-home .container .row #thankyoudiv {
	display: none;
}

.slider-home .container .row > div #thankyoudiv {
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
